body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

p {
    color: darkgreen;
    font-size: 18px;
}

ul {
    background-color: #f0f0f0;
    padding: 20px 40px;
    width: 200px;
    margin: auto;
}

img {
    max-width: 300px;
    display: block;
    margin: auto;
    border: 3px solid navy;
}